
.contact {
  text-align: center;
}

.contact th {
  width: 150px;
  height: 7rem;
  text-align: right;
}

.contact td {
  width: 480px;
  padding: 10px;
  text-align: left;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
}

.contact input[type="submit"] {
  font-size: 3rem;
  color: #fff;
  background-color: #008b8b;
  padding: 10px;
  border: none;
}

.contact input[type="submit"]:hover {
  opacity: 0.5;
}