@media (max-width: 970px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 490px;
  }
  .side_menu {
    width: 150px;
  }
  .content {
    width: 330px;
    margin-left: 10px;
  }
  .news {
    height: 100px;
    padding: 10px;
  }
  .company td {
    width: 280px;
  }
  .footer {
    height: 100px;
  }
}